<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Drops of Heaven</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png?v=2" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"  media="screen">
    <link rel="stylesheet" href="/css/style.css" type="text/css"  media="screen">
    <link rel="stylesheet" href="/css/font-awesome.css" type="text/css"  media="screen">
    <link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/responsive.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/md-color-palette.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/less-space.css.css" type="text/css" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body style="background: url('/images/bg2.jpg') repeat !important;">
<div style="width: 90%;margin-left: auto;margin-right: auto;">
{% block content %}{% endblock %}
<!--footer-->
<div class="full-footer">
    <div class="container-full">
        <div class="container info">
            <div class="row">
                <div class="col-md-4 addres">
                    <img src="../../images/footer-logo.png" alt="logo">
                    <h6>Delicio Webshop,LLC</h6>
                    <p>
                        South Washington Street 828,Washington,USA
                    </p>
                    <p>
                        Phone 0123 456 789/0123 456 788
                    </p>
                </div>
                <div class="col-md-2 account">
                    <h4>my Account</h4>
                    <ul>
                        <li><a href="#">cart</a></li>
                        <li><a href="#">checkout</a></li>
                        <li><a href="#">my accout</a></li>
                    </ul>
                </div>
                <div class="col-md-2 assistance">
                    <h4>Informations</h4>
                    <ul>
                        <li><a href="#">costumer assistance</a></li>
                        <li><a href="#">delivery informations</a></li>
                        <li><a href="#">international shipping</a></li>
                    </ul>
                </div>
                <div class="col-md-4 about">
                    <h4>about us</h4>
                    <p>
                        Lorem ipsum dolor sit amet,consectetur adipiscing elit. in non vestibulum massa,sit amet bibendum eros. in accumsan dignissin.lorem ipsum dolor sit amet vestibulum massa,sit amet bibendum eros. in accumsan dignissin.lorem ipsum dolor sit amet
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--end-addres-->
    <div class="container">
        <div class="row bottom-strip">
            <div class="col-md-6 rights">
                <p>
                    Delicio Webshop-Responsive themeforest theme 2014
                </p>
            </div>
            <div class="col-md-6 social">
                <ul>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-asterisk"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--end-footer-->
<script src="../../js/jquery.min.js" type="text/javascript" ></script>
<script src="../../js/bootstrap.js" type="text/javascript" ></script>
<script src="../../js/modernizr.js" type="text/javascript" ></script>
<script src="../../js/jquery.flexslider-min.js" type="text/javascript" ></script>
<script type="text/javascript">
    // jQuery
    (function($) {
        "use strict";
        $(document).ready(function() {
            // Main Slider
            $('.main-flexslider')
                .flexslider({
                     directionNav: true,
                     controlNav: false,
                     animation: "fade",
                     slideshowSpeed: 7000,
                     prevText: "",
                     nextText: ""
                 });
        });
    })(jQuery);
</script>
</div>
</body>
</html>